.paddingless-toolbar {
  padding: 0px;
  position: sticky;
  top: 0; // Set the sticky toolbar to be on top of the screen
  z-index: 1000; // Ensure that app content doesn't overlap the toolbar
}

.capture-details-content {
  margin:10px;
}

.title {
  margin-top:2px;
  font-size:14px;
}

.info {
  font-size:12px;
}

.log-line {
  font-size:10px;
  margin-left:10px;
}

.full-width-image {
  width: 100%;
}