.paddingless-toolbar {
  padding: 0px;
}

.capture-details-content {
  margin:10px;
}

.title {
  margin-top:2px;
  font-size:14px;
}

.info {
  font-size:12px;
}

.log-line {
  font-size:10px;
  margin-left:10px;
}

.full-width-image {
  width: 100%;
}