.paddingless-toolbar {
  padding: 0px;
}

.selected-camera-number {
  text-align:left;
  line-height:9px;
  font-size:9px;
}

.selected-camera-title {
  line-height:13px;
  padding:0px;
}

.only-latest-svg {
  margin: -3px 0px 0px -2px;
  width: 40px;
  height: 40px;
  scale: 0.75;
}

.capture-container {
  position: relative;
}

.image-title {
  position: absolute;
  bottom: 0px;
  left: 0px;
  font-size:10px;
  text-shadow:1px 1px 1px black;
}
