<ng-template *ngIf="checkExhibit(); then showApp; else showTestimony">
</ng-template>

<ng-template #showTestimony>
  <app-testimony></app-testimony>
</ng-template>

<ng-template #showApp>
  <app-capture [hidden]="stateService.selectedPage != stateService.knownPagesEnum.Captures"></app-capture>
  <app-statistics [hidden]="stateService.selectedPage != stateService.knownPagesEnum.Statistics"></app-statistics>
  <app-cameras [hidden]="stateService.selectedPage != stateService.knownPagesEnum.Cameras"></app-cameras>
  <app-detailed-capture [hidden]="stateService.selectedPage != stateService.knownPagesEnum.DetailedCapture"></app-detailed-capture>
</ng-template>
